:root {
    --purple: #BD78F5;
    --purple-dark: #7A42A8;
    --green: #5FF599;
    --green-dark: #4AA86E;
    --letter-light: rgb(216, 216, 216);
    --letter-dark: rgb(56, 56, 56);
}
/* --- General Styles --- */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--purple-dark);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--purple);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, 
html {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 10px;
}

a {
    color: var(--letter-dark);
    text-decoration: none;
}
a:visited {
    color: var(--letter-dark);
}
a:hover {
    color: var(--purple-dark);
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: fit-content;
    margin-left: auto;
    height: 100px;
    margin-bottom: 40px;
}
.nav-link {
    padding: 10px;
    padding-bottom: 5px;
    margin: 10px;
    margin-bottom: 0;
}
.nav-link.active {
    border-bottom: 1px solid var(--purple);
}
.nav-link.active > a {
    font-weight: bold;
    color: var(--purple);
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    transition: all 1s ease;
}
.card * {
    transition: all 1s ease;
}
.card *.hidden {
    opacity: 0;
    transform: scale(0.95);
}

.separator {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-bottom: 2px solid var(--purple);
}

.separator-vertical {
    height: 70%;
    border-right: 1px solid var(--letter-light);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--purple-dark);
    color: var(--letter-light);
    height: 60px;
}
.footer a {
    color: var(--letter-light);
}
.footer a:visited {
    color: var(--letter-light);
}
.footer .contacto > div:hover {
    color: var(--purple);
}
.footer .contacto > div:hover a {
    color: var(--purple);
}

.topArrow {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: -70px;
    right: 10px;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    background-color: var(--purple-dark);
    color: var(--letter-light);
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;
}
.topArrow:hover {
    transform: rotate(45deg);
}
.topArrow.active {
    visibility: visible;
    opacity: 1;
    bottom: 70px;
}
.topArrow i {
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    transition: all .3s ease;
}
.topArrow:hover i {
    transform: rotate(-45deg);
}

.image-wrapper {
    width: 85%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.two-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}
.two-image-wrapper .small {
    width: 40% !important;
}
.two-image-wrapper .small img {
    transform: translateY(50%);
}
.two-image-wrapper .big {
    width: 60% !important;
}
.two-image-wrapper .medium-small {
    width: 30% !important;
    margin-right: 10%;
}
.two-image-wrapper .medium-small img {
    transform: translateY(25%);
}
.two-image-wrapper .medium-big {
    width: 60% !important;
}
span.important {
    font-weight: bold;
    font-size: 1.2rem;
}

/* --- Home Styles --- */
.home-header {
    height: calc(100vh - 212px);
    padding: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("img/shakespeare-book.jpg");
    background-size: cover;
    background-position-y: 48%;

    justify-content: start;
    align-items: flex-end;
    padding-bottom: 50px;
}
.home-header.hidden {
    opacity: 0;
    transform: scale(0.9);
}
.home-header.hidden * {
    opacity: 0;
}
.home-header .body {
    color: var(--letter-light);
}
.home-header .body h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-left: 40px;
}
.home-header .body blockquote {
    line-height: 22px;
    letter-spacing: 1px;
    text-align: justify;
}
.home-header .body blockquote .author {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 20px;
    font-size: .8rem;
}

.about-portfolio h2 {
    width: 20%;
    font-size: 3rem;
}
.about-portfolio .body {
    width: 40%;
    text-align: justify;
    line-height: 22px;
    letter-spacing: 1px;
}

.activity-gallery h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}
.activity-gallery .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.gallery-image {
    position: relative;
    width: 20%;
    margin: 3.5%;
    transition: all .3s ease;
}
.gallery-image img {
    width: 100%;
    border: 2px solid var(--purple-dark);
    border-radius: 3px;
}
.gallery-image .tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background-color: rgba(122, 66, 168, 0.85);
    color: var(--letter-light);
    border-radius: 3px;

    position: absolute;
    top: 50%;
    left: 0%;
    height: 50%;

    transition: all .3s ease;
}
.gallery-image:hover {
    transform: scale(1.1);
}
.gallery-image:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.agallery-image:hover img {
    box-shadow: 0 0 4px var(--purple-dark);
}

/* --- Presentación Styles */
.about-me {
    align-items: flex-end;
}
.about-me .title {
    width: 20%;
}
.about-me .title img {
    border-radius: 50%;
    width: 100%;
    margin-bottom: 10px;
}
.about-me h2 {
    font-size: 2.5rem;
    width: 100%;
}
.about-me .body {
    width: 60%;
}
.about-me .body p {
    text-align: justify;
    line-height: 23px;
    letter-spacing: 1px;
}

/* --- UD Styles --- */
.displayer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    height: calc(100vh - 140px);
}
.concept-list {
    width: 25%;
    margin-bottom: 30px;
}
.concept-list ul {
    display: table;
    table-layout: fixed;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.concept-list ul li {
    cursor: pointer;
    display: table-row;
    width: 100%;
}
.concept-list ul li:hover {
    color: var(--purple-dark);
}
.concept-list ul li.active span {
    color: var(--purple);
    font-weight: 600;
    font-size: 1.1rem;
}
.concept-list ul li span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
    width: 100%;
    padding-left: 30px;
    border-bottom: 1px solid var(--purple);
}
.concept-list ul li:nth-last-child(1) span {
    border-bottom: none;
}
.concept-list ul li i {
    display: table-cell;
    vertical-align: middle;
    color: grey;
    font-size: .8rem;
    pointer-events: none;
}

.content-container {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    margin-bottom: 10px;
}
.content-container > div:not(.active) {
    display: none;
}

.content-section {
    margin-top: 25px;
}
.content-section:nth-child(1) {
    margin-top: 0;
}
.content-section .title {
    display: flex;
    width: fit-content;
    padding-bottom: 7px;
}
.content-section .title h2 {
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    color: var(--letter-dark);
}
.content-section .title i {
    pointer-events: none;
    margin-left: 4px;
    margin-top: 6px;
    font-size: 1.2rem;
    color: var(--purple);
    height: 30px;
    padding: 3px;
}
.content-section .body {
    display: none;
}
.content-section.active .body {
    display: block;
}
.content-section .body * {
    text-align: justify;
}
.content-section .body blockquote {
    font-size: .9rem;
}
.content-section .body img {
    width: 100%;
}
.content-section .body figcaption {
    font-size: .7rem;
    text-align: center;
}

.content-section.teoria h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.content-section.entregas.active .body {
    display: flex;
    flex-wrap: wrap;
}
.entregas .body .activity-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activity-wrapper .reflexion {
    width: 70%;
    padding: 3.5%;
}
.activity-wrapper .retro {
    width: 100%;
    padding: 3.5%;
}
.activity-wrapper .retro .table {
    display: table;
    min-height: 200px;
    border: 1px solid var(--purple-dark);
}
.activity-wrapper .retro .table-cell {
    display: table-cell;
    border-left: 1px solid var(--purple-dark);
    padding: 10px;
    width: 40%;
    vertical-align: middle;
}
.activity-wrapper .retro .table-cell:nth-child(1) {
    border-left: none;
}
.activity-wrapper .retro .link {
    font-weight: 600;
}
.activity-wrapper .retro .nota {
    text-align: center;
    font-size: 3rem;
    width: 20%;
    background-color: hsla(273, 44%, 46%, 0.15);
}

.documentos.active .body {
    display: flex;
    flex-wrap: wrap;
}

#contenido-concepto8 .retro .link {
    width: 65%;
}
#contenido-concepto8 .retro .link {
    width: 35%;
}#contenido-concepto8 .reflexion {
    width: 100%;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .nav-menu {
        height: 60px;
        margin-bottom: 20px;
    }

    .home-header {
        height: calc(100vh - 60px);
    }
    .home-header .body > * {
        margin: 0;
    }
    .home-header .body h1 {
        margin-bottom: 20px;
    }

    .about-me .title {
        width: 70%;
    }
    .about-me .body {
        width: 85%;
    }

    .about-portfolio h2 {
        width: 85%;
    }
    .about-portfolio .body {
        width: 85%;
    }

    .gallery-image {
        width: 40%;
    }

    .footer {
        height: auto;
        padding: 10px;
        line-height: 30px;
        text-align: center;
    }
    .footer .separator-vertical {
        display: none;
    }
    .footer > div {
        width: 100%;
    }
    .topArrow {
        right: -80px;
        padding-right: 20px;
        width: 70px;
        bottom: 148px;
    }
    .topArrow.active {
        right: -25px;
        bottom: 148px;
        background-color: rgba(122, 66, 169, 0.8);
        border-radius: 50px;
    }
    .topArrow:hover {
        transform: rotate(0deg);
    }
    .topArrow:hover i {
        transform: rotate(0deg);
    }

    .displayer {
        position: relative;
    }

    .concept-list {
        position: absolute;
        height: 100%;
        padding: 2%;
        background-color: transparent;
        width: 10%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .concept-list li {
        pointer-events: none;
    }
    .concept-list li span {
        visibility: hidden;
    }
    .concept-list:hover {
        width: 50%;
        border: 1px solid var(--purple-dark);
        border-left: none;
        background-color: #f8f8f8;
    }
    .concept-list:hover li {
    }
    .concept-list:hover li span {
        visibility: visible;
    }

    .content-container {
        width: 90%;
        margin-left: 10%;
    }
}
